/**************** Articulos con GRID ****************/
.grid-loyout {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 0.3fr 1fr 1fr;
    justify-content: space-around;
    text-align: center;
    @media screen and (max-width: 990px){
        grid-template-columns: auto;
    }
    .h1art {
        grid-column: 1 / span 2;
        @media screen and (max-width: 990px){
            grid-column: 1;
            }
        }
    .cajas {
        background: linear-gradient(0deg, rgba(66,220,222,1) 6%, #452dfd34 62%);
        width: 34rem;
        }
    .img-articulos {
        align-items: center;
        display: flex;
        justify-content: center;
        height: 100vh;
        padding: 20px;
        height: 18.75rem;
        width: 15.62rem;
    }
    figcaption {
        text-align: center;
    }
    .pimg {
        color: $colortexto;
        font-family: 'Courier New', Courier, monospace;
        font-size: 100;
        font-size: large;
    }
}

#imgart{
    display: block;
    margin-left: auto;
    margin-right: auto;
}