/**************** Articulos con GRID ****************/
.grid-loyout {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 0.3fr 1fr 1fr;
    justify-content: space-around;
    padding: $spacing+3;
    text-align: center;
    .h1art {
        grid-column: 1 / span 2;
        }
    .cajas {
        @include cajas-articulos
    }
    .img-articulos {
        @include flex;
        height: 100vh;
        padding: $spacing+3;
        height: 18.75rem;
        width: 15.62rem;
    }
    figcaption {
        text-align: center;
    }
    .pimg {
        color: $colortexto;
        font-family: 'Courier New', Courier, monospace;
        font-size: 100;
        font-size: large;
    }
}

#imgart{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
