/**************** Reset ****************/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/**************** Body ****************/
body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.192), rgba(0, 0, 0, 0.274)),
    url("../img/fondo-pagina.jpg");
    background-size: cover;
    position: relative;
    padding-bottom: 0.1em;
    min-height: 100vh;
}

/**************** Titulo del inicio de PAGINA ****************/
#encabezado-inicio{
    color: aqua;
    font-weight: 700;
    font-size: 4.375rem;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
}

/**************** Carroulser de Promosiones ****************/
.carousel-inner img {
    height: 50rem;
}
#carouselExampleCaptions{
    height: 40%;
    width: 45%;
    padding: 3%;
}

/**************** Articulos con GRID ****************/
.grid-loyout{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 0.2fr 1fr 1fr;
    justify-content: space-around;
    text-align: center;
}
.h1art{
    grid-column: 1 / span 2;
}
.cajas{
    background: linear-gradient(0deg, rgba(66,220,222,1) 6%, rgba(69,45,253,0.20211834733893552) 62%);
    width: 40.62rem;
}


/* GoogleMAP */
.googlemap{
    display: block;
    margin: 5%;
    text-align: center;
}


/**************** FORMULARIO ****************/
.contenedorcontacto{
    border-radius: 5rem;
    background-color: #00ffff41;
    width: 31.25rem;
    margin: auto;
    padding: 2%;
    text-align: center;
}