/**************** Imagenes Articulos - Imagenes ****************/
.img-articulos{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    height: 18.75rem;
    width: 15.62rem;
}
#imgart{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#imginicio{
    display: block;
    height: 60vh;
    margin: auto;
    padding: 3.75rem;
}
figcaption{
    text-align: center;
}

.imgpagos{
    height: 20rem;
    width: 35rem;
}