/**************** Carroulser de Promosiones ****************/
#carouselExampleCaptions{
    height: 22%;
    width: 28%;
    margin-bottom: 5rem;
}

.cardpromocion {
    @extend .card;
    margin-bottom: 5rem;
    div {
        @extend .cajitapromo;
        border-radius: 1rem;
    }
    h2 {
        @extend .titulo-promo;
    }
    p {
        @extend .ptext;
    }
}