.quienessomosp{
    color: $colortexto;
    font-size: 1rem;
    padding: 2%;
    text-align: center;
}

/**************** GOOGLEMAP ****************/
.googlemap{
    display: block;
    margin: 5%;
    text-align: center;
    @media screen and (max-width: 990px){
    .googlemap{
        margin: auto;
        }
    }
}