/**************** Texto GENERAL ****************/
.pimg{
    color: rgb(248, 247, 247);
    font-family: 'Courier New', Courier, monospace;
    font-size: 100;
    font-size: large;
}
.bienvenidos{
    color: rgb(255, 251, 251);
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}
h1{
    color: black;
    font-size: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
.color-secundario{
    color: rgb(7, 7, 7);
    font-size: 2rem;
    margin: 7rem;
    text-align: center;
}
.titulo{
    color: black;
}
.quienessomosp{
    color: black;
    font-size: 1.5rem;
    margin: 2%;
    padding: 5%;
    text-align: center;
}
.h2q{
    color: black;
    font-size: xx-large;
}
h2{
    color: black;
}