/**************** Texto GENERAL ****************/
.pimg{
    color: $colortexto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100;
    font-size: large;
}
.bienvenidos{
    color: $colortexto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
}
h1{
    color: $colortexto;
    font-size: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
h2{
    color: $colortexto;
}
.color-secundario{
    color: rgb(7, 7, 7);
    font-size: 2rem;
    margin: 7rem;
    text-align: center;
}
.quienessomosp{
    color: $colortexto;
    font-size: 1.5rem;
    padding: 2%;
    text-align: center;
}
